
@font-face {
    font-family: Montserrat;
    src: url(/eyewear-selector/assets/web-fonts/Montserrat-Bold-webfont.woff);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(/eyewear-selector/psd-assets/montserrat/Montserrat-Light.otf);
}
.AppFont{
  font-family: "Montserrat" ;
}
.App {
  text-align: center;
  font-size: 18px;
  margin: 18px;


}
@media only screen and (min-width: 420px) {
  .App {

  }
}
