
@font-face {
    font-family: Montserrat;
    src: url(/eyewear-selector/assets/web-fonts/Montserrat-Bold-webfont.woff);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(/eyewear-selector/assets/web-fonts/Montserrat-Light-webfont.woff);
}
.AppFont{
  font-family: "Montserrat" ;
}
.App {
  text-align: center;
  font-size: 16px;
  margin: 5%;


}
@media only screen and (min-width: 400px) {
  .App {

  }
}
