
.Selector {
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat" ;

}
.DetSelector {
  text-align: center;
  font-size: 23px;
  font-family: "Montserrat" ;

}
@media only screen and (min-width: 420px) {
  .Selector {
    font-size: 125px;
    margin: 20px;
  }
  .DetSelector {
    font-size: 40px;

  }
}
